:root {
    --primary: #fff;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #02bef7;
    --dark: #012ab1;
    --border-radius: .3rem;
  }

  * {
      box-sizing: border-box
  }

  body {
      background-color: var(--primary);
      margin: 0;
      padding: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: var(--dark);
      line-height: 1.5;
      font-size: 16px;
  }

  h3 {
      font-weight: bold;
      margin: 0;
      color: var(--dark);
      line-height: 1.25;
  }

  .forecast {
      font-size: 0.9em;
  }

  span {
      font-size: 1em;
  }

  li:hover {
      background-color: var(--light-dark);
      text-decoration: underline;
  }

  .btn {
      font-size: 1.2rem;
      text-decoration: none;
      padding: 6px, 5px;
      width: 100%;
      display: block;
      margin: 5px 0;
      border-radius: var(--border-radius);
      color: var(--primary);
      border: none;
      background-color: var(--light-dark);
      box-shadow: 3px 3px var(--dark);
      transform: translate(-1px, 1px);
  }

  .btn:hover {
      color: var(--primary);
      background-color: var(--tertiary);
      transform: translate(0,0);
      box-shadow: 2px 2px var(--dark);
  }

  .btn-inline {
      display: inline;
  }

  